@tailwind base;
@tailwind components;
@tailwind utilities;

#root
{
    overflow-x: hidden;
    z-index: -10;
    background: #353535;
}

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  